/src/inputfilesStudies/20240726pivotalStudyHTT/Ludl_input/Output_Files/
/src/inputfilesStudies/20240726pivotalStudyHTT/Ludl_input/Temporary_Registration_Images/
/src/inputfilesStudies/20240726pivotalStudyHTT/Ludl_input/Temporary_Task_Images/
/src/inputfilesDevelopment/Temporary_Registration_Images/
/src/inputfilesDevelopment/Temporary_Task_Images/
/src/inputfilesDevelopment/Output_Files/
/src/GUI.mat
/src/PortNames.mat
/src/offset_stage.mat
